:root {
    --color-body: #000;
    --color-heading: white;
    --color-text: #EBEBEB;
    --color-icons: #EBEBEB;
    --color-icons-hover: rgb(209, 209, 255);
    --font-primary: 'Raleway', sans-serif;
}

/* Adjust bootstraps dark theme */
body[data-bs-theme="dark"] {
    background-color: var(--color-body)
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-primary);
}

/* -------------------------------------- NAVBAR -------------------------------------- */
/*--------------------------------------------------------------------------------------*/

.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.navbar-collapse {
    height: 100vh;
}

.nav-item-container {
    background-color: rgb(10,10,10);
}

.nav-item {
    color: var(--color-text);
    font-size: 1.5em;
    transition: transform ease 0.3s;
}

.nav-item:hover {
    border: 5px solid white;
    transform: translateY(-10px);
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

/* POSITION THEME TOGGLE */
label.theme-label-on {
    position: fixed;
    z-index: 10000;
    top: 90%;
    left: 80%;
    cursor: pointer;
}

label.theme-label-off {
    position: fixed;
    z-index: 10000;
    top: 90%;
    left: 80%;
    cursor: pointer;
}

@media only screen and (max-width: 1518px) {
    label.theme-label-on {
        top: 90%;
        left: 3em
    }

    label.theme-label-off {
        top: 90%;
        left: 3em
    }
}

/*---------------------------------HOME/ABOUT ME PAGE---------------------------------*/
/*------------------------------------------------------------------------------------*/

#heading {
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(90deg, black, white, black);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-clip: text; /* Default */
    -webkit-background-clip: text; /* Affects Chrome and Safari */
    -moz-background-clip: text; /* Affects Firefox */
    color: rgba(200,200,200,0.5);
    animation: shiny-text 2s ease-in infinite;
}

#hero-text {
    text-align: center;
}

@keyframes shiny-text {
    0% { background-position: -500%; }
    100% { background-position: 500%; }
}

.logo-link {
    padding: 45px;
}

.logo-link {
    font-size: 4em;
    color: var(--color-icons);
}

.logo-link-middle {
    font-size: 4em;
    color: rgb(0, 119, 181);
}

.logo-link:hover {
    color: var(--color-icons-hover);
}

.logo-link-middle:hover {
    color: var(--color-icons-hover);
}

.in-dev {
    display: none;
}

@media only screen and (min-width: 992px) {
    #icon-links {
        flex-direction: column;
    }

    #heading {
        font-size: 9em;
    }

    .in-dev {
        display: block;
    }

    #hero-text {
        text-align: start;
    }
}

.progress {
    margin-bottom: 10px;
}

/*--------------------------------PROJECTS PAGE---------------------------------*/
/*------------------------------------------------------------------------------*/

.showcase-overlay {
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

.showcase-overlay a {
    text-decoration: none;
    color: inherit;
    color: lightblue;
}

.showcase-overlay:hover {
    opacity: 0.85 !important;
}

.img-fluid {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 992px) {
    .showcase-container {
        margin-bottom: 20px; /* Add margin-bottom between stacked items */
    }
}
/*-----------------------------------RESUME PAGE------------------------------------*/
/*----------------------------------------------------------------------------------*/

#blue-container {
    background-color: rgba(173, 216, 230, 0.2);
}

@media only screen and (max-width: 991px) {
    .resume {
        margin-top: 5vh;
    }

    
    #blue-container {
        border: none !important; /* Override the bootstrap class */
    }
}


/*---------------------------------CONTACT PAGE----------------------------------*/
/*-------------------------------------------------------------------------------*/
#contact-container {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.07);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* ty w3schools */
}

@media only screen and (max-width: 991px) {
    .contact-container {
        width: 90vw !important;
    }
}